*, ::before, ::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(46, 184, 184);
}


.App{
    display: flex;
    flex-direction: column;
    flex-basis: auto;
    align-items: center;
}

