#editor{
    width: var(--editor-width);
    min-height: var(--editor-height);
    height:25vh;
    overflow-y:scroll;
    padding: 5px 10px;
    outline: none;
    resize: vertical;
    box-shadow: var(--box-shadow);
}

.editor-wrap{
    margin-top: 20px;
}