#preview{
    width: var(--preview-width);
    height:var(--preview-height);
    min-height: var(--preview-height);
    background-color: white;
    box-shadow: var(--box-shadow);
    border-radius: var(--radius);
    padding:20px;
    overflow-y: scroll;
}

.preview-wrap{
    margin-top: 20px;
}

ul,ol{
    margin: 0 10px;
}

img{width:100%}