
.toolBar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap:0 5px;
    background: var(--toolbar-gradient);
    border: 1px solid black;
    border-radius: var(--radius);
    width: inherit;
    font-weight: bold;
    height: 35px;
    padding:10px;
    margin-bottom: 0;
    box-shadow: var(--box-shadow);

    
}

.toolBar-title{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    border-radius: 3px;
    font-weight: bold;
}

.enlarger{
    background-color: transparent;
    border: none;
}

.enlarger:hover{
    cursor: pointer;
    color:ghostwhite;
}
